<head>
    <title>ExploratorySession_Chrome_86.0.4240.198</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        #exportActivityTable {
            border: 1px solid #B0B0B0;
        }
        
        #exportActivityTable tbody {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }
        
        #exportActivityTable thead {
            text-align: center;
        }
        
        #exportActivityTable thead th {
            background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
            border: 1px solid #B0B0B0;
            color: #444;
            font-size: 16px;
            font-weight: bold;
            padding: 3px 10px;
        }
        
        #exportActivityTable td {
            padding: 3px 10px;
        }
        
        #exportActivityTable tr:nth-child(even) {
            background: #F2F2F2;
        }
        
        #exportActivityTable img {
            width: 300px;
            height: 200px;
        }
        
        .centered {
            text-align: center;
        }
        
        td {
            vertical-align: middle;
        }
        
        .noWrap {
            white-space: nowrap;
        }
        
        TH {
            padding: 5px;
        }
        
        body {
            font-family: 'Segoe UI', Tahoma, sans-serif;
        }
    </style>
    <script type="text/javascript" src="http://tablefilter.free.fr/TableFilter/tablefilter_all_min.js"></script>
    <script>
        function loadFilter() {
            var sessionActivityTable_Props = {
                col_0: 'select',
                col_1: 'none',
                col_2: 'none',
                col_3: 'none',
                custom_cell_data_cols: [0],
                display_all_text: ' [ Show all ] ',
                sort_select: true
            };
            var tf2 = setFilterGrid('exportActivityTable', sessionActivityTable_Props);
        }
    </script>
</head>

<body onload="loadFilter()">
    <h1>ExploratorySession_Chrome_86.0.4240.198</h1>
    <div>
        <img src="ExploratoryPic.png">
        <table id="exportActivityTable" border="1" style="width: 100%;">
            <caption>Session Activity Report</caption>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Screenshot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="centered">Bug</td>
                    <td>With certain actions user can achieve duplication of content in all pages where there is "more" button</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/users" href="https://sheltered-badlands-59110.herokuapp.com/users" target="_blank">https://sheltered-badlands-59110.herokuapp.com/users</a></td>
                    <td class="centered">
                        <a href="images/img1.jpg" target="_blank"><img src="images/img1.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Registering of user with spaces in the password field</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/register" href="https://sheltered-badlands-59110.herokuapp.com/register" target="_blank">https://sheltered-badlands-59110.herokuapp.com/register</a></td>
                    <td class="centered">
                        <a href="images/img2.jpg" target="_blank"><img src="images/img2.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Registration of user with spaces in his name is allowed, thus a link to the user's profile is almost impossible to be found</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/register" href="https://sheltered-badlands-59110.herokuapp.com/register" target="_blank">https://sheltered-badlands-59110.herokuapp.com/register</a></td>
                    <td class="centered">
                        <a href="images/img3.jpg" target="_blank"><img src="images/img3.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>"Edit" button is available for click when non-admin user opens his post</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/20" href="https://sheltered-badlands-59110.herokuapp.com/posts/20" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/20</a></td>
                    <td class="centered">
                        <a href="images/img4.jpg" target="_blank"><img src="images/img4.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>If a user is registered only with spaces in his name its almost impossible to interact with it</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/" href="https://sheltered-badlands-59110.herokuapp.com/" target="_blank">https://sheltered-badlands-59110.herokuapp.com/</a></td>
                    <td class="centered"></td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>If a post is created only with spaces in its name its almost impossible to interact with it</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/" href="https://sheltered-badlands-59110.herokuapp.com/" target="_blank">https://sheltered-badlands-59110.herokuapp.com/</a></td>
                    <td class="centered"></td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Creation of category with special characters/spaces in the name is allowed</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/admin/categories/new" href="https://sheltered-badlands-59110.herokuapp.com/admin/categories/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/admin/categories/new</a></td>
                    <td class="centered">
                        <a href="images/img5.jpg" target="_blank"><img src="images/img5.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Creation of nationality with special characters/spaces is allowed</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/admin/nationalities/new" href="https://sheltered-badlands-59110.herokuapp.com/admin/nationalities/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/admin/nationalities/new</a></td>
                    <td class="centered">
                        <a href="images/img6.jpg" target="_blank"><img src="images/img6.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Nationalities link in settings menu overflows its container</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/admin/nationalities" href="https://sheltered-badlands-59110.herokuapp.com/admin/nationalities" target="_blank">https://sheltered-badlands-59110.herokuapp.com/admin/nationalities</a></td>
                    <td class="centered">
                        <a href="images/img7.jpg" target="_blank"><img src="images/img7.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Maximum of password characters is not shown when trying to enter invalid password</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/register" href="https://sheltered-badlands-59110.herokuapp.com/register" target="_blank">https://sheltered-badlands-59110.herokuapp.com/register</a></td>
                    <td class="centered">
                        <a href="images/img8.jpg" target="_blank"><img src="images/img8.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Wrong text message when try to register user with different content in password and confirm password fields. "Password does't match"</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/register" href="https://sheltered-badlands-59110.herokuapp.com/register" target="_blank">https://sheltered-badlands-59110.herokuapp.com/register</a></td>
                    <td class="centered">
                        <a href="images/img9.jpg" target="_blank"><img src="images/img9.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Bug</td>
                    <td>Creation of post without picture or video is allowed while this field is marked with "*"as obligatory</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/new" href="https://sheltered-badlands-59110.herokuapp.com/posts/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/new</a></td>
                    <td class="centered">
                        <a href="images/img10.jpg" target="_blank"><img src="images/img10.jpg"></a>
                    </td>
                </tr>
                <tr>
                    <td class="centered">Note</td>
                    <td>For about 60 minutes were found several defects in the testing application</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/new" href="https://sheltered-badlands-59110.herokuapp.com/posts/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/new</a></td>
                    <td class="centered"></td>
                </tr>
                <tr>
                    <td class="centered">Note</td>
                    <td>More thorough testing of the data fields during Registration and Login of Users to be done</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/new" href="https://sheltered-badlands-59110.herokuapp.com/posts/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/new</a></td>
                    <td class="centered"></td>
                </tr>
                <tr>
                    <td class="centered">Note</td>
                    <td>More thorough testing of the data fields during Creation and Edit of Posts to be done</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/new" href="https://sheltered-badlands-59110.herokuapp.com/posts/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/new</a></td>
                    <td class="centered"></td>
                </tr>
                <tr>
                    <td class="centered">Question</td>
                    <td>How exact the difference of posts visibility will affect the user interaction with the application</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/new" href="https://sheltered-badlands-59110.herokuapp.com/posts/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/new</a></td>
                    <td class="centered"></td>
                </tr>
                <tr>
                    <td class="centered">Idea</td>
                    <td>Users with different level of rights to be created and each of them to create posts with different level of visibility</td>
                    <td><a title="https://sheltered-badlands-59110.herokuapp.com/posts/new" href="https://sheltered-badlands-59110.herokuapp.com/posts/new" target="_blank">https://sheltered-badlands-59110.herokuapp.com/posts/new</a></td>
                    <td class="centered"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>